/* user registration specific css. */

header {
	display: block;
	top: 5%;
	left: 30%;
	font-size: 200%;
	position: fixed;
	color: white;
    background-color: transparent;
}

.button {
  position: relative;
  left: 123px;
}

#usedmsg {
	color: red;
}
