/* user login specific css. */

p {
	display: block;
	top: 5%;
	left: 3%;
	font-size: xx-large;
	position: fixed;
	color: white;
        background-color: transparent;
        top: 12%;
}

a {
    color: red;
    font-size: large;
}
