<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" media="screen and (max-width: 500px)" href="css/windowSmall.css">
    <link rel="stylesheet" media="screen and (min-width: 501px)" href="css/windowMedium.css">
    <link rel="stylesheet" media="screen and (min-width: 900px)" href="css/windowLarge.css">
</head>
<body>
    <div id="afold">
        <header>
            <h1 id=hdr>Test header</h1>
        </header>
        <div id="aboveImage"></div>
        <h1>Test text 2</h1>
    </div>
		<p>
			<h2 id=quotes>
			My programs never have bugs, they just develop random features.<br><br>
			Failure is not an option -- it comes bundled with Windows.<br><br>
			windows: 32-bit extensions and a graphical shell for a 16-bit patch to an 8-bit operating system originally coded for a 4-bit microprocessor, written by a 2-bit company that can't stand 1-bit of competition<br><br>
			The box said "Requires Windows 95 or better." I can't understand why it won't work on my Linux computer.<br><br>
			RAM disk is *not* an installation procedure!<br><br>
			MICROSOFT = Most Intelligent Customers Realize Our Software Only Fools Teenagers<br><br>
			I haven't lost my mind -- it's backed up on tape -- somewhere.<br><br>
			What is this talk of 'release?' Klingons do not make software 'releases.' Our software 'escapes,' leaving a bloody trail of designers and quality assurance people in its wake.<br><br>
			Late to bed and early to rise gives a hacker blood-shot eyes.<br><br>
			WINDOWS = Will Install Needless Data On Whole System<br><br>
			COFFEE.EXE Missing - Insert Cup and Press Any Key<br><br>
			You step in the stream, but the water has moved on. This page is not here. (404)<br><br>
			<a href="http://www.witty-quotes.com/Computer-quotes/">More quotes</a>
			</h2>
		</p>

    <footer>
        <svg xmlns = "http://www.w3.org/2000/svg" display="block" preserveAspectRatio="xMidYMin meet" id="footNames" width="100%">
            <rect x="50" y="20" rx="20" ry="20" width="1500" height="150"
                  style="fill:blue;stroke:black;stroke-width:5;opacity:0.5" />
            <text fill="ffffff" font-family="Verdana" font-size="35", x="75", y="80"> Larry Meyers, Joseph Vietti, Will Goishi</text>
        </svg>

    </footer>
</body>